{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Contact Us</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{%  url 'index' %}">Home</a></li>
                <li>order</li>
            </ul>
        </div>
    </div>
</section>
<h2 style="margin-left: 230px;color: orange;">ORDER CONFIRM</h2>
        <div class="row">
            <div class="col-md-6" style="margin-left: 200px;">
                <form id="myForm"  action="{% url 'save1' %}" method="post">
                    {% csrf_token %}
                    {% if msg1 %}
                    <div class="alert-success">
                        {{ msg1 }}
                    </div>
                    {% endif %}
                    
                    <input type="hidden" name="hid" {% if form_data %} value="{{form_data.id}}" {% endif %}>
                    {% if error %}
                    <div class="alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" {% if form_data %} value="{{ form_data.name}}" {% endif %}>
                        
                      
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" {% if form_data %} value="{{ form_data.email}}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="age">phone no:</label>
                        <input type="number" class="form-control" id="Age" name="age" {% if form_data %} value="{{ form_data.age}}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea class="form-control" id="address" name="address" {% if form_data %} value="{{ form_data.address}}" {% endif %}></textarea>
                    
                    
                    {% if form_data %}

                    <button type="submit" class="btn btn-primary" id="submitBtn">Update</button> 
                    {% else %}
                    
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                    
            
                    {% endif %}
                </form >       
            </div>
            <footer class="site-footer">
                <div class="container">
                    <div id="footer-widgets">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 widget-container">
                                <div id="text-2" class="widget widget_text">
                                    <h3 class="footer-widget-title">About Libraria</h3>
                                    <span class="underline left"></span>
                                    <div class="textwidget">
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking.
                                    </div>
                                    <address>
                                        <div class="info">
                                            <i class="fa fa-location-arrow"></i>
                                            <span>21 King Street, Melbourne, Victoria 3000 Australia</span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-envelope"></i>
                                            <span><a href="mailto:support@libraria.com">support@libraria.com</a></span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-phone"></i>
                                            <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 widget-container">
                                <div id="nav_menu-2" class="widget widget_nav_menu">
                                    <h3 class="footer-widget-title">Quick Links</h3>
                                    <span class="underline left"></span>
                                    <div class="menu-quick-links-container">
                                        <ul id="menu-quick-links" class="menu">
                                            <li><a href="#">Library News</a></li>
                                            <li><a href="#">History</a></li>
                                            <li><a href="#">Meet Our Staff</a></li>
                                            <li><a href="#">Board of Trustees</a></li>
                                            <li><a href="#">Budget</a></li>
                                            <li><a href="#">Annual Report</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                            <div class="col-md-2 col-sm-6 widget-container">
                                <div id="text-4" class="widget widget_text">
                                    <h3 class="footer-widget-title">Timing</h3>
                                    <span class="underline left"></span>
                                    <div class="timming-text-widget">
                                        <time datetime="2017-02-13">Mon - Thu: 9 am - 9 pm</time>
                                        <time datetime="2017-02-13">Fri: 9 am - 6 pm</time>
                                        <time datetime="2017-02-13">Sat: 9 am - 5 pm</time>
                                        <time datetime="2017-02-13">Sun: 1 pm - 6 pm</time>
                                        <ul>
                                            <li><a href="#">Closings</a></li>
                                            <li><a href="#">Branches</a></li>
                                        </ul>
                                    </div>
                                </div>			
                            </div>
                            <div class="col-md-4 col-sm-6 widget-container">
                                <div class="widget twitter-widget">
                                    <h3 class="footer-widget-title">Latest Tweets</h3>
                                    <span class="underline left"></span>
                                    <div id="twitter-feed">
                                        <ul>
                                            <li>
                                                <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                            </li>
                                            <li>
                                                <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>			
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-text col-md-3">
                                <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                            </div>
                            <div class="col-md-9 pull-right">
                                <ul>
                                    <li><a href="index-2.html">Home</a></li>
                                    <li><a href="books-media-list-view.html">Books &amp; Media</a></li>
                                    <li><a href="news-events-list-view.html">News &amp; Events</a></li>
                                    <li><a href="#">Kids &amp; Teens</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="#">Research</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End: Footer -->
    
            {% endblock %}
    
    </html>
    